<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Centrum monitoringu Krzysia</title>
</head>

<body>
    <div id="login-modal" class="modal-overlay">
        <div class="modal-content">
            <h2>Wybierz użytkownika</h2>
            <button onclick="selectUser('Ziemia')" class="user-select-btn">Ziemia</button>
            <button onclick="selectUser('Krzyś')" class="user-select-btn">Krzyś</button>
        </div>
    </div>

    <header>
        <h1 id="main-title">Centrum monitoringu Krzysia</h1>
        <a id="login" onclick="showSelectUserModal()">Zmień użytkownika</a>
    </header>

    <main>
        <section id="status-data">
            <div id="stats-container">
                <h2>Stan Krzysia</h2>

                <p id="energy">Poziom energii</p>
                <p id="pulse">Tętno</p>
                <p id="temperature">Temperatura</p>
                <p id="mood">Nastrój</p>
            </div>
        </section>

        <section id="communication">
            <div id="chat-container">
                <div id="chat-history">
                </div>

                <form id="msg-form">
                    <input type="text" id="msg-input" placeholder="Wiadomość..." autocomplete="off" required>
                    <button type="submit" id="send-btn">Wyślij</button>
                </form>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>